<!-- <ul>
  <li *ngFor="let item of resultados">{{ item.title }}</li>
</ul> -->

<div class="row scroll m-2 p-2 resultados-style">
  <div
    *ngFor="let item of resultados"
    class="col-md-4 col-sm-6 animate__animated animate__fadeIn mt-2 mb-2"
  >
    <div class="card card-style p-3">
      <img
        [src]="item.images.downsized_medium.url"
        alt="item.title"
        class="card-img-top imagenes-style"
      />
      <div class="card-body">
        <p class="card-text">
          {{ item.title }}
        </p>
      </div>
    </div>
  </div>
</div>
