<!-- navbar mobile -->
<nav
  class="navbar navbar-dark bg-dark fixed-top mb-3 d-block d-sm-block d-md-none"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gifs App by Skierhy</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
          Gifs App by Skierhy
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <!-- contenido -->
        <app-busqueda class="d-block d-sm-block d-md-none"></app-busqueda>
        <app-sidebar class="d-block d-sm-block d-md-none"></app-sidebar>
      </div>
    </div>
  </div>
</nav>
<!-- fin navbar -->
